.logo {
  background-color: black;
  color: white;
  padding: 15px;
}

#topnav {
  background-color: #1c74b2;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  min-height: 38px;
  line-height: 200%;
}

.menu > li {
  list-style-type: none;

  display: inline-block; /*rozmieszczenie poziome opcji menu*/
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px dashed #0a2b42;
}
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  background-color: lightgray;
  width: 120px;
  min-height: 38px;
}

.nav-menu li {
  display: inline-block;
}
.card {
  margin: 5px;
}
